.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-indent: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: color .3s cubic-bezier(.25, .8, .5, 1);
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0
}

.icon.small {
    width: 1rem;
    height: 1rem;
}

.label {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.input-container {
    transition: padding .15s ease-in-out;
} 

.stealth-error {
    font-size: .75em;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--md-status-red);
}

.text-item-container {
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: border .1s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--md-accent);
    padding: 0.5rem
}

.text-item-container:focus-within {
    border: 1px solid var(--md-primary) !important
}

.text-item-container.md-has-error {
    border: 1px solid var(--md-status-red)
}

.inline-input::-webkit-scrollbar {
    display: none
}

.inline-input {
    outline: none;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: transparent
}

.list-item {
    white-space: nowrap;
    padding: 4px 8px;
    min-width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--md-accent)
}

.list-item:hover {
    background-color: var(--md-accent-darken)
}

.dark .list-item:hover {
    background-color: var(--md-accent-lighten)
}

.rotating-arrow {
    transition: transform .15s ease-in-out
}
/*-----------------------------------------------------------------------------------------*/
.stealth-error {
    font-size: .75em;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--md-status-red)
}

.rotate-180 {
    transform: rotate(180deg)
}

.flag-placeholder {
    overflow: hidden;
    position: relative;
    min-height: 25px;
    min-width: 25px;
    box-sizing: border-box
}

.flag-placeholder:after {
    content: "";
    border: 1px dashed;
    height: 66.66%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px
}


.transition-label.with-placeholder {
    transition-property: opacity, top, font-size;
    opacity: 0
}

.transition-label.populated {
    opacity: 1;
    top: .3125rem;
    font-size: 0.75rem;
    line-height: 1rem
}

.placeholder-text.with-label {
    opacity: 1;
    margin-top: -.5rem
}

.placeholder-text:not(.populated) {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: margin-top, opacity;
    transition-duration: .15s
}

.placeholder-text.populated {
    margin-top: 0
}

.chevron {
    transition: transform .15s ease-in-out
}

.chevron.active {
    transform: rotate(180deg)
}

.md-select-inner-wrap {
    display: inline-flex;
    min-width: 300px;
    position: relative;
    background-color: var(--md-accent);
    padding-left: 1rem;
    padding-right: 1rem
}

.md-select-inner-wrap.block {
    display: flex;
    min-width: 100%
}

.md-select {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.md-select:focus-within .md-select__border:not(.disabled) {
    border: 1px solid #ff6740;
    opacity: 1
}

.md-select:focus-within .transition-label.with-placeholder.dropdown-open {
    opacity: 1
}

.md-select:focus-within .placeholder-text.with-label.dropdown-open:not(.populated) {
    margin-top: 0;
    opacity: .4
}

.md-select__border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: all .2s ease-out;
    opacity: 0
}

.md-select__error {
    font-size: .75em;
    z-index: -1
}

.md-select__error.has-error {
    border-radius: 4px;
}

.md-select__error.has-error .md-select__error {
    color: var(--md-status-red)
}

.md-select__error.has-error i {
    color: inherit !important
}

.md-select__error.has-error .md-select__border {
    border: 2px solid var(--md-status-red) !important;
    opacity: 1
}

.md-error {
    font-size: .75em;
    z-index: -1
}

.md-error-wrap {
    overflow: hidden;
    min-height: 1.1em
}

.md-has-error {
    border-radius: 4px;
}

.md-has-error .md-error {
    color: var(--md-danger)
}

.md-has-error i {
    color: inherit !important
}

.md-has-error>.md-select-inner-wrap>.md-select__border {
    border: 2px solid #ff4040 !important;
    opacity: 1
}

.select-button {
    margin: 0.25rem;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    background-color: var(--md-accent-darken);
    font-size: 0.75rem;
    line-height: 1rem;
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 700
}

.select-button:not(.static):hover {
    background-color: var(--md-accent-darken2)
}

.dark .select-button:not(.static):hover {
    background-color: var(--md-accent-lighten)
}

/*-----------------------------------------------------------------------------------------*/

.disabled{opacity:.2;pointer-events:none}.md-btn{transition:background-color .1s ease-out,color .1s ease-out;position:relative;}.md-btn >.bg{position:absolute;left:0;top:0;width:100%;height:100%;border-radius:inherit;transition:opacity .1s ease-out}.glow:not(.disalbed){box-shadow:0 .2rem 1rem rgba(255,103,64,.3)}

/*-----------------------------------------------------------------------------------------*/

.actions-cover{z-index:2;min-height:.2rem;background-color:var(--md-background)}.actions{z-index:2;bottom:0px;margin-left:-1.5rem;margin-right:-1.5rem;display:grid;grid-template-columns:repeat(2, minmax(0, 1fr));gap:0.5rem;background-color:var(--md-background);padding-top:0.5rem;padding-bottom:0.5rem;padding-left:1.5rem;padding-right:1.5rem}@media (min-width: 40rem){.actions{padding-top:1rem;padding-bottom:1rem}.actions{display:flex}.actions{justify-content:flex-end}.actions{gap:1rem}}.actions-shadow{position:-webkit-sticky;position:sticky;bottom:54px;background:linear-gradient(transparent,rgba(0,0,0,.2));min-height:.5rem;margin-left:-1.5rem;margin-right:-1.5rem;margin-bottom:-0.5rem;padding-left:1.5rem;padding-right:1.5rem}@media (min-width: 40rem){.actions-shadow{bottom:80px}}

/*-----------------------------------------------------------------------------------------*/
.md-inputwrap{color:inherit;width:100%;box-sizing:border-box;position:relative;background-color:var(--md-accent);border-radius:2px;transition:all .2s ease-out;}.md-inputwrap .md-label{position:absolute;left:0;top:0;width:100%;height:100%;transition:all .2s ease-out;padding:16px}.md-inputwrap .md-label>span{color:#ff6740}.md-inputwrap .md-border{position:absolute;left:0;top:0;width:100%;height:100%;border-radius:inherit;transition:all .2s ease-out;opacity:0}.md-inputwrap:focus-within .md-border{border:1px solid #ff6740;opacity:1}.md-inputwrap:not(.md-nolabel).md-populated input,.md-inputwrap:not(.md-nolabel):focus-within input{padding-top:27px;padding-bottom:5px}.md-inputwrap:not(.md-nolabel).md-populated .md-label,.md-inputwrap:not(.md-nolabel):focus-within .md-label{font-size:.75em;padding-top:6px}.md-inputwrap input{width:100%;position:relative;z-index:1;background:none}.md-inputwrap input::-moz-placeholder{opacity:0.6;}.md-inputwrap input::placeholder{opacity:0.6;}.md-inputwrap input:focus{outline:none}.md-disabled input{color:inherit}.md-disabled .md-inputwrap:not(.md-populated) .md-label,.md-disabled input{opacity:.2}.md-error{font-size:.75em;z-index:-1}.md-error-wrap{overflow:hidden;min-height:1.1em}.md-has-error{border-radius:4px;}.md-has-error .md-error, .md-has-error .md-label{color:var(--md-danger);}.md-has-error i{color:inherit!important}.md-has-error .md-border{border:2px solid #ff4040!important;opacity:1}input:-webkit-autofill,input:-webkit-autofill:active,input:-webkit-autofill:focus,input:-webkit-autofill:hover{-webkit-text-fill-color:#000!important;color:#000!important}

/*-----------------------------------------------------------------------------------------*/
.page-sizer {
    position: relative;
    width: 300px;
    padding-bottom: 141.53846%;
}

.page.placeholder {
    border-radius: 0.25rem;
    border: 1px dashed #4d4d4d;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .15s ease-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.page>.close, .page>.error-icon {
    border-radius: 9999px;
    background-color: var(--md-accent2);
}

.page>.close, .page>.error-icon {
    position: absolute;
    cursor: pointer;
    top: -0.25rem;
    right: -0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    border: none!important;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
}
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
